@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold text-slate-900;
  }

  body {
    @apply font-sans text-slate-600 bg-slate-50 selection:bg-primary selection:text-white;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary hover:bg-indigo-700 text-white font-semibold py-2 px-6 rounded-md transition-colors duration-200 shadow-sm shadow-indigo-200;
  }

  .btn-secondary {
    @apply bg-white hover:bg-slate-50 text-slate-700 border border-slate-200 font-semibold py-2 px-6 rounded-md transition-colors duration-200 shadow-sm;
  }

  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}